<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Networking</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Analytical</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Problem-solving</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="93%">
                <div class="skillbar-title"><span>Research</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">93%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="88%">
                <div class="skillbar-title"><span>Organizational</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">88%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">System</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="72%">
                <div class="skillbar-title"><span>Analytical & Problem-solving</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">72%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="79%">
                <div class="skillbar-title"><span>Technical</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">79%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Attention to detail</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="87%">
                <div class="skillbar-title"><span>Organizational</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">87%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Helpdesk Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="93%">
                <div class="skillbar-title"><span>Learn quickly</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">93%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="89%">
                <div class="skillbar-title"><span>Troubleshooting</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">89%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="81%">
                <div class="skillbar-title"><span>Work under pressure</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">81%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="74%">
                <div class="skillbar-title"><span>Teamwork</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">74%</div>
            </div>
            <!-- /.skillbar -->  

			<!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="62%">
                <div class="skillbar-title"><span>Communication</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">62%</div>
            </div>
            <!-- /.skillbar -->   
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="82%">
                <div class="skillbar-title"><span>Soccer</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">82%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="87%">
                <div class="skillbar-title"><span>DotA CSGO</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">87%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="92%">
                <div class="skillbar-title"><span>Coffee chatting</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">92%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Group activities</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">English</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Listening</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="72%">
                <div class="skillbar-title"><span>Speaking</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">72%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="93%">
                <div class="skillbar-title"><span>Reading</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">93%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="62%">
                <div class="skillbar-title"><span>Writing</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">62%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>IT Support <span class="duration"><i class="fa fa-calendar color"></i> 10/2019 - 01/2020</span></h5>
                <h6><span class="fa fa-briefcase"></span> Universal Alloy Vietnam</h6>
                <p>Setup, install Switch, APs. Storage, backup data. Helpdesk</p>
            </li>
            <li>
                <h5>IT Staff <span class="duration"><i class="fa fa-calendar color"></i> 08/2019 - 10/2019</span></h5>
                <h6><span class="fa fa-briefcase"></span> American International School APU</h6>
                <p>Helpdesk. Install, troubleshoot network devices, school equipment</p>
            </li>
			<li>
                <h5>IT Specialist <span class="duration"><i class="fa fa-calendar color"></i> 05/2018 - 03/2019</span></h5>
                <h6><span class="fa fa-briefcase"></span> IT Department - Sun Group</h6>
                <p>Helpdesk. Manage vmware system, maintain and upgrade server hardware. Network: core, access, aps, cctv. Technical support video conferencing, events</p>
            </li>
			<li>
                <h5>Technician <span class="duration"><i class="fa fa-calendar color"></i> 03/2017 - 05/2018</span></h5>
                <h6><span class="fa fa-briefcase"></span> One Corporation</h6>
                <p>Maintenance PBX system: Alcatel, Panasonic, NEC. Maintenance Network system: Cisco, Juniper, HP. Participating in the project of deploying PBX, network, system</p>
            </li>
			
        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>VMware Certificated <span class="duration"><i class="fa fa-calendar color"></i> 07/2018 - 05/2019</span></h5>
                <h6><span class="fa fa-book"></span> MIND Center Danang</h6>
                <p>Basic and advanced VMware virtualization knowledge. Install, balance resources, understand and use some features on esxi and vcenter</p>
            </li>
			<li>
                <h5>JNCIA <span class="duration"><i class="fa fa-calendar color"></i> 03/2018 - 07/2018</span></h5>
                <h6><span class="fa fa-book"></span> MIND Center Danang</h6>
                <p>Junos knowledge. Basic configuration and troubleshooting capabilities</p>
            </li>
			<li>
                <h5>LPI 1 2 3 <span class="duration"><i class="fa fa-calendar color"></i> 12/2016 - 05/2017</span></h5>
                <h6><span class="fa fa-book"></span> MIND Center Danang</h6>
                <p>Linux knowledge. Ability to work on Linux environment, learn new linux applications</p>
            </li>
			<li>
                <h5>CCNA <span class="duration"><i class="fa fa-calendar color"></i> 12/2016 - 02/2017</span></h5>
                <h6><span class="fa fa-book"></span> MIND Center Danang</h6>
                <p>Network knowledge. Ability to configure and troubleshooting</p>
            </li>
            <li>
                <h5>Electronics and Telecommunication <span class="duration"><i class="fa fa-calendar color"></i> 2011 - 2016</span></h5>
                <h6><span class="fa fa-book"></span> Danang University of Science and Technology</h6>
                <p>Degree classification: Good</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">References</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
            <li class="clearfix">
                <img src="images/one.png" class="img_reference" width="100" height="100" alt="">
                <!--<p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>-->
                <span>Mr. Phan Anh Tuan<br>Technical Manager, One Corporation<br>Mobile 0906 307 547</span>
            </li>
            <li class="clearfix">
                <img src="images/sun.png" class="img_reference" width="100" height="100" alt="">
                <!--<p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>-->
                <span>Mr. Pham Ngoc Nhat<br>Manager of IT support department<br>Mobile 0983 148 830</span>
            </li>
        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->